@tailwind base;
@tailwind components;
.container-content{
  @apply w-full lg:w-2/3;
}

.container-card {
  @apply container mx-auto gap-1 px-2 py-4 overflow-hidden rounded bg-slate-800 border border-solid  border-slate-700 ;
}

.grid-1234 {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.image-card-p-2 {
  @apply inline-block m-4 overflow-hidden cursor-pointer rounded bg-slate-700 text-white border border-transparent hover:border hover:border-slate-600  ;
}
@tailwind utilities;

html,
body {
  background-color: #111827;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#vshape::before {
  background-color: red;
  
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
