@tailwind base;
@tailwind components;
.container-card {
  @apply container mx-auto gap-1 overflow-hidden py-4 bg-slate-800 rounded border-solid border border-slate-700 px-2;
}

.grid-1234 {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.image-card-p-2 {
  @apply cursor-pointer bg-slate-700 text-white inline-block rounded overflow-hidden border hover:border border-transparent hover:border-slate-600 m-4;
}
@tailwind utilities;

html,
body {
  background-color: #111827;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
